<div id="landing">
  <a id="login" href="#">login with google</a>
</div>

<div id="app" style="display:none;">
  <a style="float:right" id="logout" href="#">logout</a>
  <h1>My App</h1>
  <div id="output"></div>  
</div>

<script src="/static/jquery-3.6.1.min.js"></script>
<script src="/oatk.js"></script>
<script>
  oatk.using_provider("{{ OAUTH_PROVIDER }}");
  oatk.using_client_id("{{ OAUTH_CLIENT_ID }}");
  oatk.apply_flow("implicit");
  
  function show_landing() {
    $("#app").hide();
    $("#landing").show();    
  }
  
  function show_app() {
    $("#app").show();
    $("#landing").hide();
  }

  function login() {
    oatk.with_authenticated_user(function(user, http, logout) {
      console.log("👩 user is authenticated...", user);
      $("#logout").click(function() { logout(show_landing); });
      show_app();
      
      // call our API to say hello
      var base_url = window.location.href.split("?")[0].split("#")[0].replace(/\/$/, "");
      http.getJSON(base_url + "/api/hello", function(result) {
        $("#output").text(JSON.stringify(result));
      }, function(result) {
        if(result.status == 403) {
          console.log(result);
          $("#output").text("You were authenticated by Google, yet you don't have the correct claims.");
        }
      });
    });
  }

  $("#login").click(login);
  
  if(oatk.have_authenticated_user()) {
    login();
  }
</script>
